section.row{
    width:100%;
    display:flex;
    flex-direction: row;
    align-items: flex-start;
}
section.row div.card{
    border:1px thin #464646;
    border-radius: 4px;
    padding: 10px;
    margin:10px;
    background-color: #464646;
    width:240px;
    height:300px;
}
section.row div.card:hover{
    border-color: #ee9b4d;
}
section.row div.card div.product{
    width:100%;
    height:200px;
}
section.row div.card div.product img{
    width:100%;
    height:100%;
}
section.row div.card div.data{
    width:100%;
    height:60px;
    text-align:center;
    color:aliceblue;
}
section.row div.card div.data .span1{
    padding:5px;
    color:rgb(165, 165, 165);
    text-decoration:line-through;
}
section.row div.card div.data .span2{
    padding:5px;
    color:#ff922d;
}
.checked {
    color: orange;
}