body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #effcf5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  margin:10px;
  width:30px;
  height:30px;
  cursor:pointer;
  font-size: 16px;
}



p#buttons{
  margin-left:514px
}

p#header{
  font-size:18px;
}

h2{
  text-align:center;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #82e0aa;
  padding: 50px;
  margin:0%;
  border-radius: 10px;
}

.game-board {
  font-weight: bolder;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  text-align: center;
  font-size: 23px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.square {
  background-color: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 54px;
  font-weight: bold;
  line-height: 34px;
  height: 84px;
  width: 84px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.square:hover {
  cursor: pointer;
}

.reset-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.reset {
  background-color: #257d28;
  border: none;
  width:8vw;
  height:5vh;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 10px;
  padding:10px;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.reset:hover {
  background-color: #3e8e41;
}

.scoreboard {
  display: flex;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 10px;
}